src/kernel/bin/*
src/kernel/*.iso
.vscode/settings.json
*.o
SynapseOS.iso
SynapseOS_log.txt
isodir/boot/kernel.elf
bin/kernel.elf
isodir/boot/grub/grub.cfg
src/kernel/SynapseOS_log.txt
log.txt
disk.img
.vscode/c_cpp_properties.json
